# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace
*.xcscheme
project.xcworkspace/
xcuserdata/

# AppCode
.idea

# Backup files
*~.nib
\#*#
.#*
*.swp
*.un~

# pods
Pods/*
